@model RosterMe.Models.Entities.Login
<!--model IEnumerable<RosterMe.Models.Entities.Login>-->
@{
    //Display Login Layout
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

    //Set View
    ViewData["Title"] = "Login";
}

<!-- #### Login Form Sections #### -->
<section>
    <hr />
    <h2 class="loginTitle"> Welcome to RosterMe </h2>
    <hr />
    <div id="row">
        <!-- #### Column: Web App Logo #### -->
        <div id="column" style="float: left;">
            <div id="loginAppLogo">
                <img src="~/images/original/RosterMe_logo_400x400.png" />
            </div>
        </div>
        <!-- #### Divider #### -->
        <!--
        <div id="loginHorizontalDivider">
            <img src="~/images/original/maori_pattern_vertical_divider_icon.png" />
        </div>
        -->
        <!-- #### Column: Form #### -->
        <div id="column" style="float: left; margin-left: 50px; margin-top: 50px; width: 350px;">
            <div id="loginForm">
                <form asp-controller="Logins" asp-action="LoginUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Username" />

                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input class="form-control" id="usernameInput_TextBox" name="Username"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input class="form-control" id="passwordInput_TextBox" name="Password" type="password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <!--
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="loginRememberMe"/>
                            Remember Me
                            Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                -->

                    <div id="loginButton">
                        <input type="submit" value="Login" class="btn btn-primary" id="submitLogin_Button"/>
                    </div>

                    <div id="loginOptions">
                        <!-- #### Other Login Options #### -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>