/* #### USer Details #### */
.userDetailsPhoto
{
    padding: 8px 8px 8px 8px;
    text-align: center;
    float: left;
}
.userDetailsTable
{
    font-family: Calibri;
    border: 3px dashed #313131;
    /*float: right;*/
    width: 100%;
    padding: 8px 8px 8px 8px;
    text-align: center;
}
.userDetailsHeader th 
{
    text-align: left;
    font-size: 18px;
    color: #313131;
    padding-top: 12px;
    padding-bottom: 12px;
}
.userDetailsBody td 
{
    text-align: justify;
    font-size: 14px;
    color: #313131;
    padding: 8px;
}

/* ########## Dashboards ########## */
/* #### Admin #### */
.adminEmployeesDataTable
{
    text-align: left;
}

.adminEmployeesDataBody td
{
    text-align: center;
}

.adminEmployeesDataHeader th
{
    text-align: center;
}

/* #### Manager #### */
.managerEmployeesDataTable 
{
    width: 100%;
    text-align: left;
}

.managerEmployeesDataBody td
{
    width: 100%;
    text-align: center;
}

.managerEmployeesDataHeader th
{
    width: 100%;
    text-align: center;
}

.inviteEmployee 
{
    background: #0066ff;
    border-style: none;
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 8px 8px 8px;
}

/* ########## Columns & Rows for Section tags ########## */
#dashColumn 
{
    float: left;
    width: 33.33%;
    padding: 50px;
}

/* Clear floats after the columns */
#row:after 
{
    content: "";
    display: table;
    clear: both;
    text-align: center;
}