<!-- Start: Footer-Area -->
<footer class="footer-area" style="background-color: #313131; color: #ffffff; margin-top: 150px;">
    <div class="footer-top section-padding" style="color: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="footer-text" style="color: #ffffff;">
                        <h4 class="upper" style="color: #ffffff;">Classic</h4>
                        <p style="color: #ffffff;">If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                        <div class="social-menu" style="color: #ffffff;">
                            <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                            <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                            <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                            <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2 col-md-offset-1">
                    <div class="footer-single" style="color: #ffffff;">
                        <h4 class="upper" style="color: #ffffff;">News</h4>
                        <ul style="color: #ffffff;">
                            <li><a href="#" style="color: #0066ff;">Subsciption</a></li>
                            <li><a href="#" style="color: #0066ff;">New Apps</a></li>
                            <li><a href="#" style="color: #0066ff;">Download now</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div class="footer-single" style="color: #ffffff;">
                        <h4 class="upper" style="color: #ffffff;">Company</h4>
                        <ul style="color: #ffffff;">
                            <li><a href="#" style="color: #0066ff;">Screenshot</a></li>
                            <li><a href="#" style="color: #0066ff;">Fetures</a></li>
                            <li><a href="#" style="color: #0066ff;">Price</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div class="footer-single" style="color: #ffffff;">
                        <h4 style="color: #ffffff;" class="upper">Resources</h4>
                        <ul style="color: #ffffff;">
                            <li><a href="#" style="color: #0066ff;">Support</a></li>
                            <li><a href="#" style="color: #0066ff;">Contact</a></li>
                            <li><a href="#" style="color: #0066ff;">Privacy &amp; Term</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div class="footer-single" style="color: #ffffff;">
                        <h4 class="upper" style="color: #ffffff;">Solutions</h4>
                        <ul style="color: #ffffff;">
                            <li><a href="#" style="color: #0066ff;">Bug Fixing</a></li>
                            <li><a href="#" style="color: #0066ff;">Upgrade</a></li>
                            <li><a href="#" style="color: #0066ff;">Malware Protect</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" style="color: #ffffff;">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="copyright" style="color: #ffffff;">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End: Footer-Area -->