<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title> @ViewData["Title"] - Polynesians </title>

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="~/images/template/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="~/images/template/favicon.ico" />

    <!-- ########### Stylesheet References ########### -->
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="~/css/template/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/template/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/template/icofont.css">
    <link rel="stylesheet" href="~/css/template/magnific-popup.css">
    <link rel="stylesheet" href="~/css/template/animate.css">

    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="~/css/template/normalize.css">
    <link rel="stylesheet" href="~/css/template/style.css">
    <link rel="stylesheet" href="~/css/template/responsive.css">
    <script src="~/js/template/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        /* ---- Style for all pages ---- */
        body {
            background-color: #f2f2f2;
        }
    </style>
    <link rel="stylesheet" href="~/css/original/manageStyle.css" />
    <link rel="stylesheet" href="~/css/original/menuStyle.css" />
    <link rel="stylesheet" href="~/css/original/dashboardStyle.css" />

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>