
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>ForgotPassword</h1>

<section>
    <div class="col-md-3">
        <h3>Enter your first name</h3>
        <input id="firstName" name="firstName" type="text" />
    </div>
    <div class="col-md-3">
        <h3>Enter your last name</h3>
        <input id="lastName" name="lastName" type="text" />
    </div>
    <div class="col-md-3">
        <h3>Enter Email Address</h3>
        <input id="useremail" name="userEmail" type="email" />
    </div>
    <div class="col-md-2">
        <button onclick="sendLink()" class="btn btn-success">Submit</button>
    </div>
</section>

@section scripts{ 
    <script src="~/MyJavascriptFiles/ForgotPassword.js"></script>
}