@{ 
    //Set tab title
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">

<!-- ########## Head: Template ########## -->
<partial name="~/Views/PartialViews/_HeadLayout.cshtml" />

<body>

    <!-- ########## Head: Template ########## -->
    <partial name="~/Views/PartialViews/_MenuLayout.cshtml" />

    <!--Header-Area-->
    <header class="header-area overlay" id="home-area" style="height: 300px;">
        <div class="vcenter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="header-text">
                            <h2 class="header-title wow fadeInUp">
                                Login to your session
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header-Area-/-->
    <!-- ########## Body: Original ########## -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ########## Footer: Template ########## -->
    <partial name="~/Views/PartialViews/_FooterLayout.cshtml" />

    <!-- ########## Scripts: Original ########## -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/orignal/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
