@model RosterMe.Models.Entities.Timesheets
@{
    //Set Layout
    Layout = "~/Views/Shared/_TimesheetsLayout.cshtml";

    //Set tab title
    ViewData["Title"] = "Timesheets";
}

<!-- #### Timesheets Home #### -->
<section class="section-padding" id="about-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="page-title">
                    <h2 class="title wow fadeInUp">
                        Timesheets
                    </h2>
                    <div class="wow fadeInUp" data-wow-delay="0.5s">
                        <table class="userDetails" align="right">
                            <thead>
                                <tr>
                                    <th>
                                        Your timesheets
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- #### Employee's Timesheets #### -->
                                <tr>
                                    <td>
                                        T1
                                    </td>
                                    <td>
                                        Some content
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.7s">
                    <a href="#" class="bttn bttn-primary">Learn More</a>
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-md-offset-1">
                <img src="images/about-image.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End: Timesheets Section -->